.controlPanelInnerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controlPanelInnerBoxHolder {
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.controlPanelContainerSticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controlPanelInnerBoxSticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1000;
    padding-bottom: 10px;
}

.locationControlBox {
    padding: 20px 0 20px 0;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 25px 5px;
}



/*MEDIA QUERIES*/


@media only screen and (max-width: 950px) {
    .controlPanelInnerBox, .controlPanelContainerSticky {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .locationControlBox {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 390px) {
    .locationControlBox {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1250px) {
    .controlPanelContainerSticky {
        padding-left: 55px;
        padding-right: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .controlPanelContainerSticky {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

@media only screen and (max-width: 1250px) {
    .controlPanelContainerSticky {
        padding-left: 55px;
        padding-right: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .controlPanelInnerBoxSticky {
        top: 55px;
    }
}