.nationalActivitySectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nationalActivityTextBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}