.projectPartnersSectionContainer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectPartnersLogoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.projectPartnersLogoWrapper {
    margin-left: 20px;
    margin-right: 20px;
}