/*CSS Thematic Rules*/

:root {
    /*Colors*/
    --primaryBlue: #2196F3;
    --secondaryBlue: #1565C0;

    /*Fonts*/
    --typeface: Rubik, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}