/*Layout*/

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Aesthetics*/
.bluePunctuation {
  color: #2196F3;
}

/*CSS Overrides*/

.mapboxgl-ctrl-attrib {
  display: none;
}

